.employee-login-form {
  height: 350px;
  width: 350px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 45px;
}

.employee-login-form * {
  font-family: 'Poppins', sans-serif;
  color: #171717;
  letter-spacing: 0.4px;
  outline: none;
  border: none;
}

.employee-login-form h3 {
  font-size: 30px;
  font-weight: 500;
  // line-height: 42px;
  margin-top: 1px;
  text-align: center;
  color: #ffffff
}

.employee-login-form label {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(218, 218, 218);
}


.form-control {
  display: block;
  height: 35px;
  width: 95%;
  // background-color: rgba(255, 255, 255, 0.538);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: black;
}

.alert-danger {
  color: red;
}

.login {
  transition: all .5s ease;
  display: block;
  margin-top: 50px;
  height: 45px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  // color: #ffffff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.login:hover {
  color: white;
  background-color: #001F3F;
}

.error-message {
  color: red;
  margin-top: 10px;
}

// .form-control ::placeholder{
//   color: #e5e5e5;
// }