.home-page {
    // background-color: black;
    background-image: url('./../public/image/logitoBackground.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0;
    min-height: 100vh;
    text-align: center;
}

h1 {
    color: white;
    font-size: 5rem;
    // width: 2000px;
}

.employee-login {
    margin-top:500px;
    color: white;
}

.small-text {
    font-weight: 500;
    font-size: large;
}

.title {
    color: red;
}

.admin-button{
    // display: block;
    // margin-top: 50px;
    // height: 45px;
      width: 5%;
    //   text-align: center;
    background-color: #ffffff;
    // color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.employee-button{
    // display: block;
    // margin-top: 10px;
    // height: 45px;
      width: 10%;
    //   text-align: center;
    background-color: #ffffff;
    // color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.employee-login-text{
    font-weight: 500;
    font-size: large;
}

.admin-login {
    margin-top:500px;
    color: white;
}